<div class="navbar sticky-top" style="background-color: black">
  <div class="container justify-content-between">
    <%= link_to "Home Page", root_path, class: 'nav-link', style:"color: white" %>
    <%= link_to "About Me", about_me_path, class: "nav-link" , style:"color: white" %>
    <%= link_to "Contact", contact_path, class: "nav-link", style:"color: white" %>
    <%= link_to "Blogs", blogs_path, class: "nav-link", style:"color: white" %>
    <%= link_to "Portfolio", portfolios_path, class: "nav-link", style:"color: white" %>
    <%= login_helper "text-white" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>